<div class="container">
	<div class="page-header">
		<h1>Select an Artist</h1>
	</div>
	<!-- User favorites -->
	<div class="home-favorites row">
		<div class="col-lg-12">
			<h3>Followed Artists</h3>
			<!-- the user's favorite artists will go here -->
			<ul id="favorites" class="artist-list"></ul>
		</div>
	</div>

	<!-- Add favorites -->
	<div class="home-search row">
		<div class="col-lg-12">
			<!-- Form -->
			<form id="search-artists-form">
				<div class="form-group">
					<input id="search-artists-input" placeholder="Find artists..." class="form-control" type="text" />
					<button class="hidden" type="submit">Search</button>
				</div>
			</form>

			<!-- Results -->
			<ul id="search-artists-results" class="artist-list"></ul>
		</div>
	</div>

</div>
<script src="/js/home.js"></script>
